<ul>
    <% if(doc.affiliation){doc.affiliation.forEach(function(aff,index){%>
    <li><div class="alert"><span><%= aff %></span><button class="close delaff">&times;</button></div></li>
    <%})}%>
</ul>
<div class="addattr">
    <div>
        <span>隶属组织:</span><div id="input_affiliation" class="editarea" contenteditable="true"></div>
    </div>
    <div>
        <button id="btnaddaffiliation">Add</button>
        <button class="cancel">取消</button>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#btnaddaffiliation").click(function(){
            var affiliation = $("#input_affiliation")[0].innerText;
            var d = affiliation.split('\n');
            var nx = [];
            for(var i=0;i< d.length;i++)
            {
                var x = d[i];
                x = $.trim(x);
                if(x!=""){
                    nx.push(x);
                }
            }
            var doc = {
                "$addToSet":{
                    "affiliation":{
                        "$each":nx
                    }
                }
            };
            var aid = $("#aid").val();
            addattr(aid,doc);
        });
        $(".delaff").click(function(){
            var aid = $("#aid").val();
            var v = $(this).prev().text();
            var doc = {
                "$pull":{
                    "affiliation":v
                }
            };
            delattr(aid,doc);
        })
    });
</script>