<ul>
    <% if(doc.education){doc.education.forEach(function(edu,index){%>
    <li><div class="alert"><span><%= edu %></span><button class="close deledu">&times;</button></div></li>
    <%})}%>
</ul>
<div class="addattr">
    <div>
        <span class="lb">教育背景:</span><div id="input_education" class="editarea" contenteditable="true"></div>
    </div>
    <div>
        <button id="btnaddeducation">Add</button>
        <button class="cancel">取消</button>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#btnaddeducation").click(function(){
            var d = $("#input_education")[0].innerText;
            var d = d.split('\n');
            var nx = [];
            for(var i=0;i< d.length;i++)
            {
                var x = d[i];
                x = $.trim(x);
                if(x!=""){
                    nx.push(x);
                }
            }
            var doc = {
                "$addToSet":{
                    "education":{
                        "$each":nx
                    }
                }
            };
            var aid = $("#aid").val();
            addattr(aid,doc);
        });
        $(".deledu").click(function(){
            var aid = $("#aid").val();
            var v = $(this).prev().text();
            var doc = {
                "$pull":{
                    "education":v
                }
            }
            delattr(aid,doc);
        })
    });
</script>