<ul>
    <% if(doc.fields){doc.fields.forEach(function(f,index){%>
    <li><div class="alert"><span><%= f %></span><button class="close delfields">&times;</button></div></li>
    <%})}%>
</ul>
<div class="addattr">
    <div>
        <span>研究领域:</span><div class="editarea" id="input_fields" contenteditable="true"></div>
    </div>
    <div>
        <button id="btnaddfields">Add</button>
        <button class="cancel">取消</button>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#btnaddfields").click(function(){
            var fields = $("#input_fields")[0].innerText;
            //console.log(fields);
            var d = fields.split('\n');
            var nx = [];
            for(var i=0;i< d.length;i++)
            {
                var x = d[i];
                x = $.trim(x);
                if(x!=""){
                    nx.push(x);
                }
            }
            var doc = {
                "$addToSet":{
                    "fields":{
                        "$each":nx
                    }
                }
            };
            var aid = $("#aid").val();
            addattr(aid,doc);
        });
        $(".delfields").click(function(){
            var v = $(this).prev().text();
            var aid = $("#aid").val();
            var doc = {
                "$pull":{
                    "fields":v
                }
            };
            delattr(aid,doc);
        });
    });
</script>