<ul>
    <% if(doc.title){ doc.title.forEach(function(t,index){ %>
    <li><div class="alert"><span><%= t %></span><button class="close deltitle">&times;</button></div></li>
    <% })} %>
</ul>
<div class="addattr">
    <div>
        <span>头衔:</span><div class="editarea" contenteditable="true" id="input_title"></div>
    </div>
    <div>
        <button id="btnaddtitle">Add</button>
        <button class="cancel">取消</button>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#btnaddtitle").click(function(){
            var v = $("#input_title")[0].innerText;
            var d = v.split('\n');
            var nx = [];
            for(var i=0;i< d.length;i++)
            {
                var x = d[i];
                x = $.trim(x);
                if(x!=""){
                    nx.push(x);
                }
            }
            var doc = {
                "$addToSet":{
                    "title":{
                        "$each":nx
                    }
                }
            };
            var aid = $("#aid").val();
            addattr(aid,doc);
        });
        $(".deltitle").click(function(){
            var title = $(this).prev().text();
            var aid = $("#aid").val();
            var d = {
                "$pull":{
                    "title":title
                }
            };
            delattr(aid,d);
        })
    });
</script>