<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <script src="/javascripts/jquery.js" ></script>
    <script src="/javascripts/delauthor.js" ></script>
</head>
<body>
    <div>
        你确定要删除:
    </div>
    <div>
        <span id="name"><%= name %></span>
    </div>
    <div>
        <input type="button" id="btndel" value="确信删除" />
    </div>
    <div>
        <label id='lbmsg'></label>
    </div>
    <div id="ret" style="display: none">
        <a href="/">返回</a>
    </div>
</body>
</html>
