<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js "></script>
    <script type="text/javascript" src="/javascripts/delauthor.js" ></script>
</head>
<body>
<div>
    <div class="jumbotron">
        <h3>你确实真的肯定要 <%= auname %> 删除吗?</h3>
        <p><button id="sure" class="btn btn-sm btn-danger">我确定一定以及肯定.</button> <button class="btn btn-sm btn-default">先不删除,我先看看再说</button></p>
    </div>
</div>
<div class="hidden">
    <input type="hidden" id="hdid" value="<%= auid?auid:'' %>" />
</div>
</body>
</html>