<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
</head>
<body>
<div class="hidden">
    <input type="hidden" id="hdusername" val="" />
</div>
</body>
</html>