<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/j.js"></script>
  </head>
  <body>
    <div>
        <table><tr><td class="td_paste"><img src="/images/home.svg" class="au_paste" /></td><td><input type="text" id="tbau" /></td></tr></table>

    </div>
    <div id="resultbox">
        <div id="result"></div>
    </div>

    <div id="floattimebox">
        <div>Input time:<input type="text" id="inputtime" placeholder="输入一个时间(段)" /><button id="btntimeok">ok</button></div>
        <div>
            <% for(var i=2013;i>=1990;i--){ %>
                <span class="f_tm"><%= i %></span>
            <% } %>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <ol class="breadcrumb">
            <li>Organ</li>
            <li>Email</li>
            <li>Tel</li>
            <li>Location</li>
            <li>SearchField</li>
            <li>PostCode</li>
            <li>HomePage</li>
        </ol>
    </nav>
  </body>
</html>