<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/j.js"></script>
  </head>
  <body>
    <div>
        <table><tr><td class="td_paste"><img src="/images/home.svg" class="au_paste" /></td><td><input type="text" id="tbau" /></td></tr></table>

    </div>
    <div id="searchbox">

    </div>
    <div id="detailbox">
        <div id="detail"></div>
    </div>
    <div id="historybox"></div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <ol class="breadcrumb">
            <li>Organ</li>
            <li>Email</li>
            <li>Tel</li>
            <li>HomePage</li>
        </ol>
    </nav>
    <div class="hidden">
        <input type="hidden" id="hdusername" val="" />
    </div>
  </body>
</html>