<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/j.js"></script>
  </head>
  <body>
    <div>
        <input type="text" id="tbau" />
    </div>
    <div id="resultbox">
        <div id="result"></div>
    </div>
  </body>
</html>