<form method="post">
    <label for="name">作者:</label>
    <input type="text" name="name" />
    <label for="searchname">搜索名:</label>
    <input type="text" name="searchname" />
    <label for="organ">机构:</label>
    <input type="text" name="organ" />
    <label for="email">电子邮箱:</label>
    <input type="text" name="email" />
    <input type="submit" value="submit" />
    <label name="result"></label>
</form>